@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.max-w-2xl {
    max-width: 65rem !important
}

.homepage_grid {
    margin-top: 2rem !important;
}

.ui.fluid.placeholder {
    margin-top: 2rem;
    margin-bottom: 2rem;
}